@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body {
    margin: 0;
    font-family: 'Cairo', sans-serif;
}

.navbar {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.397);
    box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.397);
    display: flex;
    justify-content: space-evenly;
}

.navbar ul {
    list-style: none;
    text-align: center;
    margin: 10px 0;
    padding: 0 10px;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #000;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 2px;

    position: relative;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
}

.navbar ul li a:hover {
    color: #fff;
}

.navbar ul li a:before,
.navbar ul li a:after {
    position: absolute;
    width: 0px;
    height: 100%;
    top: 0;
    bottom: 0;
    background: #3460d9;
    transition: all .5s;
    margin: auto;
    content: '.';
    color: transparent;
    z-index: -1;
    opacity: 0.75;
}

.navbar ul li a:before {
    left: 0;
}

.navbar ul li a:after {
    right: 0;
}

.navbar ul li a:hover:after,
.navbar ul li a:hover:before {
    width: 100%;
}

.navbar ul li a,
.navbar ul li a:before,
.navbar ul li a:after {
    transition: all .5s;
}

.account {
    position: relative;
    display: inline-block;
}

.user-btn {
    background-color: #04AA6D;
    color: white;
    padding: 15px;
    margin: 10px 10px 0 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.menu {
    display: none;
    position: absolute;
    right: 0;
    margin: 10px 10px 0 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

.menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu a:hover {
    background-color: #f1f1f1;
}

.account:hover .menu {
    display: block;
}

.account:hover .user-btn {
    background-color: #3460d9;
}

.logo {
    width: 50px;
    height: 50px;
    margin: 20px 0px ;
}

h1 {
    text-align: center;
    font-size: xx-large;
    margin-top: 75px;
}

table {
    border-collapse: collapse;
    margin: 75px auto;
    font-size: 0.9em;
    width: 90%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    background-color: #3460d9;
    color: #ffffff;
    text-align: left;
}

table th, table td {
    padding: 12px 15px;
    text-align: center;
    cursor: pointer;
}

th {
    font-size: 24px;
    padding: 18px 24px;
    cursor: pointer;
}

table tbody tr {
    border-bottom: thin solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #3460d9;
}

table tbody tr.active-row {
    font-weight: bold;
    color: #3460d9;
}

table i {
    font-size: 1.6em;
    color: black;
    pointer-events: auto;
    cursor: pointer;
}

table i.fa-eye:hover {
    color: dodgerblue;
    transition: .3s linear;
}

table i.fa-edit:hover {
    color: #5cb85c;
    transition: .3s linear;
}

table i.fa-trash-alt:hover {
    color: #ff253a;
    transition: .3s linear;
}

#create-modal-button {
    background-color: white;
    border-radius: 7px;
    border: 3px solid black;
    color: black;
    cursor: pointer;
    float: right;
    font-size: 15px;
    margin: 5px 42%;
    padding: 5px 20px;
    transition: .3s linear;
}

#create-modal-button:hover {
    background-color: black;
    color: white;
}

.undone {
    color: #ff3025;
}


.alert{
    width:30%;
    padding:15px;
    position:absolute;
    bottom: 2%;
    z-index: 10;
    border-radius:5px;
    animation-name: sliding-out;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;

}
.alert-close{
    position:absolute;
    width:30px;
    height:30px;
    opacity:0.5;
    border-width:1px;
    border-style:solid;
    border-radius:50%;
    right:15px;
    top:15px;
    text-align:center;
    font-size:1.1em;
    cursor:pointer;
    z-index: 20;
}

.danger-alert {
    background-color: #f7a7a3;
    border-left: 5px solid #8f130c;
}
.danger-alert .alert-close {
    border-color: #8f130c;
    color: #8f130c;
}

.success-alert {
    background-color: #a8f0c6;
    border-left: 5px solid #178344;
}
.success-alert .alert-close {
    border-color: #178344;
    color: #178344;
}

@keyframes sliding-out {

    0% {
        right: -5%;
        opacity: 0;
    }

    100% {
        right: 5%;
        opacity: 1;
        position: fixed;
    }

}