@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body {
    margin: 0;
    font-family: 'Cairo', sans-serif;
}


body::-webkit-scrollbar {
    display: none;
}

.welcome {
    font-size: 1.3em;
    width: max-content;
    padding: 15px;
    background-color: #3460d9;
    color: white;
    border-radius: 15px;
    text-align: center;
    margin: 30px auto;
}

.tile {
    background-color: #3460d9;
    margin: 1.5%;
    width: 13%;
    padding: 2%;
    z-index: 2;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.tile:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255,255,255,0.6);
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.tile:hover:after {
    width: 120%;
    background-color: rgba(255,255,255,0);

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.tile-link {
    display: block;
    margin: 10% auto 0 auto;
    position: relative;
    text-align: center;
    font-size: 1.4em;
    font-family: 'Cairo', sans-serif;
    color: white;
    line-height: 1.4em;
    text-decoration: none;
    border-bottom: none;
    z-index: 3;
}

.tile > img {
    cursor: pointer;
    filter: invert(100%);
    width: 75%;
}

.tile-group {
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
    margin: 15px auto;
}

#particles {
    position: fixed !important;
    width:100%;
    height:100%;
    left: 0;
    top: 0;
    z-index: -1;
}